body{
    background: linear-gradient(#d9d9d900, #d9d9d900, #008A66);
    background-repeat: no-repeat;
    height: auto;
    align-content: center;
}
#inicio{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centralizar o texto */
}

#inicio p {
    color: green;
    font-size: 250%;
}
#michelangelo{
    background-color: #008A66;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;


}
#michelangelo *{
    color: white;
}
#michelangelo p{
    width: 100%;
    font-size: 105%;
}
#kevin-hart{
    display: flex;
    justify-content: right;
    
}

#kevin-hart img{
    width: 500px;
    height: auto;
    position: relative;
}

#Kevin-hart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px; /* Largura da borda transparente à esquerda */
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Gradiente transparente para opaco */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#formulario{
    align-self: center;
}

#ingresso{
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    width: 35%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: black;
    
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    background-color: #F0F0F0;
}

.quantity {
    margin-bottom: 10px;
}

.quantity input[type="number"] {
    width: 50%; /* Reduzi a largura do input */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px; /* Espaçamento entre o input e os botões */
    gap:10px;
}

.quantity button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #008A66;
    color: #CBFFF1;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    float: right; /* Alinhar os botões à direita */
    gap:10px;
    
}

#decrease {
    margin-right: 40px; /* Adiciona margem direita ao botão de diminuir */
}

#increase {
    margin-left: 40px; /* Adiciona margem esquerda ao botão de aumentar */
}


.quantity button:hover {
    background-color: rgb(130, 236, 136);
    color:#008A66;
}


button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #CBFFF1;
    color: #008A66;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(130, 236, 136);;
}


.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.nav-button {
    cursor: pointer;
    font-weight: bold;
}

#valor input[type="text"]::placeholder {
    color: #008A66; /* Altere a cor do placeholder aqui */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
}


#valor {
    width: 100%; /* Definir a largura da div "valor" */
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #008A66;
    color: #CBFFF1;
    align-items: center;
    flex: 1;
    align-self: center;
}

.left-section {
    flex: 1;
}