/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
:root {
    --primary-color: #4CAF50;
    --secondary-color: #333;
}
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: #3e8e41;
  }
  
  h1, h2 {
    font-weight: normal;
  }
  
  h1 {
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
  }
  
  h2 {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #003399;
    color: #fff;
    text-align: center;
  }
  
  main {
    max-width: 100%;
    padding: 2rem;
  }
  .linha1 {
    display: flex;
    width:100%;
    justify-content: space-between;
  }
  section {
    margin-bottom: 2rem;
  }
  #ticket-selection {
    width:30%;
    height:50%;
  }
  .ticket-option {
    border: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }
  
  .ticket-option img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
  }
  
  .select-btn {
    background-color: #0066cc;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
  }
  #user-info {
    width:50%;  
  }
  #purchase-form {
    display: flex;
    flex-direction: column;
  }
  
  #purchase-form label {
    margin-bottom: 0.5rem;
  }
  
  #purchase-form input[type="text"],
  #purchase-form input[type="email"],
  #purchase-form input[type="number"],
  #purchase-form input[type="date"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
  }
  
  #purchase-form button[type="submit"] {
    background-color: #0066cc;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    align-self: flex-end;
  }
  
  #confirmation {
    background-color: #0066cc;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  #confirmation-message {
    max-width: 30rem;
    margin: 0 auto;
  }
  
  footer {
    background-color: #003399;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }