body{
    background: linear-gradient(#d9d9d900, #d9d9d900, #008A66);
    background-repeat: no-repeat;
    height: auto;
}
#inicio{
    align-content: center;
    padding-left: 40%;
    width: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inicio p{
    color: green;
    font-size: 250%;
    align-items: center;
    text-align: center;
    display: flex;
}
#michelangelo{
    background-color: #008A66;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;


}
#michelangelo *{
    color: white;
}
#michelangelo p{
    width: 100%;
    font-size: 105%;
}
#kevin-hart{
    display: flex;
    justify-content: right;
}

#kevin-hart img{
    width: 500px;
    height: auto;
    position: relative;
}

form {
    width: 20%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: black;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    background-color: #F0F0F0;
}

.quantity {
    margin-bottom: 10px;
}

.quantity input[type="number"] {
    width: 50%; /* Reduzi a largura do input */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px; /* Espaçamento entre o input e os botões */
}

.quantity button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #008A66;
    color: #CBFFF1;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    float: right; /* Alinhar os botões à direita */
}

#decrease {
    margin-right: 40px; /* Adiciona margem direita ao botão de diminuir */
}

#increase {
    margin-left: 40px; /* Adiciona margem esquerda ao botão de aumentar */
}


.quantity button:hover {
    background-color: rgb(130, 236, 136);
}


button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #CBFFF1;
    color: #008A66;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(130, 236, 136);
}

.calendar {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #008A66;
    color: #ffffff;
}

.month {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-text {
    margin-right: 10px;
    margin-left: 10px;
}

.weekdays {
    display: flex;
    justify-content: space-between;
}

.weekday {
    width: calc(100% / 7);
    text-align: center;
    font-weight: bold;
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: calc(100% / 7);
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #CBFFF1;
    color: #008A66;
}

.day.selected {
    background-color: rgb(130, 236, 136);
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.nav-button {
    cursor: pointer;
    font-weight: bold;
}

.temporada p{
    background-color: #CBFFF1;
    color: #008A66;
    width: 40%;
    height: 90%;
    border-radius: 5%;
}
