:root {
  --primary-color: #4CAF50;
  --secondary-color: #333;
  background-color: #008a66; 
  background-image: linear-gradient( to top);
}

body {
  font-family: Arial, sans-serif;
  /*line-height: 1.6;*/
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  background-color: var(--primary-color);
  text-align: center;
  height: 500px;
}
header img {
  margin:0;
  padding:0;
  width:100%;
  height:500px;
}
header h1 {
  position:absolute;
  text-align: center;
}
/* MUDAR TUDO ACIMA PARA O PADRÃO DO HIROTSU*/

h1 {
  color: #fff;
}
main {
  max-width:100%;
  padding: 20px;
}
#tickets-desc {
  max-width: 100%;
  text-align: center;
  
}
#tickets-desc h2{
  color: var(--secondary-color);
}
.titulo {
  display: flex;
  flex-direction: row;
}
.text {
  width:50%;
  left:0;
}

#ticket-options { 
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.ticket-option {
  position:relative;
  border-radius: 25px;
  width:30%;
  height:auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  flex-wrap: wrap;
}

.ticket-option:hover {
  transform: translateY(-5px);
}

.ticket-option h3 {
  color: white;
  margin-bottom: 10px;
  position:absolute;
  bottom:0;
  left:10px;
  font-size: auto;
}

.ticket-option img {
  border-radius: 25px;
  width:100%;
  height:100%;
  
}

.ticket-option p {
  margin-bottom: 10px;
}
#info {
  align-items: center;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

#info p{
  font-size: 16px;
}
#info section {
  width:33%;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

#info section:hover {
  transform: translateY(-5px);
}

#info section h2 {
  color: var(--primary-color);
}
#info .info2 {
  margin-left: 0px;
}

#info .info2 ul {
  list-style-type: none;
  padding: 0;
  left:0;
}
#info .info2 a {
  color: #007bff;
  text-decoration: none;
}

#info .info2 a:hover {
  text-decoration: underline;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  bottom:0;
}
footer p{
  font-size:16px;
  margin-block-end:0;
}
/* Styles for screens smaller than 960px (e.g. mobile devices) */
@media screen and (max-width: 959px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

/* Styles for screens smaller than 600px (e.g. mobile devices in portrait orientation) */
@media screen and (max-width: 599px) {
  body, header {
    max-width:100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
  .header {
    padding: 0px;
    max-width: 100%;
    min-width: 100%;
    font-size: 1.5em;
  }

  .content {
    font-size: 0.9em;
  }
  .main {
    max-width: 100%;
    width: 100%;
    max-height: fit-content;
    display: flex;
  }
  #tickets {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    align-content: center;
    
  }
  #tickets h2{
    background-position: auto;
    font-size: auto;
    text-align: top;
    padding: 20px;
    margin-bottom: 100px;
  }
  #ticket-options {
    margin:0;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  #ticket-options button {
    margin-bottom: 10px;
  }
  .ticket-option {
    border-radius: 25px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    min-width: 80%;
  }
  /*retirar os negativos dos margins e arrumar com o display flex*/
  #info {
    display:flex;
    flex-direction: column;
    border: 0;
  }
  #info section{
    width:100%;
  }
  #info p {
    font-size: 0.9em;
  }
}
/*retirar os negativos dos margins e arrumar com o display flex*/